/* Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap");

/* Custom CSS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  /* list-style: none; */
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
::selection {
  color: black;
  background-color: #bea060;
}
header {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
}

.body{
  height: 100%;
}

.header-right-top {
  color: black;
  position: absolute;
  height: max-content;
  top: 0;
  right: 0;
}

.header-left-side {
  padding: 0 0 0 70px;
  color: white;
}
.header-left-side h2 {
  color: #bea060;
  line-height: 1.2em;
  font-size: 60px;
  padding-top: 20px;
  font-weight: 400 !important;
}
.header-left-side h3 {
  color: #bea060;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 2px;
}
.header-left-side p {
  margin-top: 5%;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
  font-size: 16px;
  color: #c1bfbf;
  line-height: 1.5;
}
button {
  padding: 20px 10px;
  border: 2px solid #bea060;
  background: transparent;
  width: 47%;
  color: white;
  margin-right: 15px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  background-color: #bea060;
  transition: 0.7s;
}
.btn {
  width: 97%;
  background-color: #bea060;
}
.header-left-side h3 {
  color: #c1bfbf;
  padding-top: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.list{
  color: white;
  padding-left: 30px;
  padding-bottom: 30px;
}
